body{
    background-color: #3f3d3d;
}
h1{
    color: #D9EAFD;
}
p{
    color: cornsilk;
}
ul{
    color: cornsilk;
}
nav{
    background-color: #7472be  ; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    width: 100%;
    font-size: 16px;
    border-radius: 15px;
}
.navbar li {
    list-style: none;
    color: white;
}
nav ul {
    display: flex;
    padding: 20px;
    justify-content: start;

}
nav ul li a {
    color: #fff;
    list-style: none;
    margin-right: 2rem;

    text-decoration: none;
}